<ion-header>
  <ion-navbar>
    <ion-title>
      Piscines Paris
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <options (filterOpen)="onFilterOpen($event)" [isOpenNow]="isOpenNow"></options>
  <ion-scroll scrollY="true">
    <ion-item *ngFor="let piscine of piscines">
      <p>
        {{piscine.name}} - {{ lat | distanceCoords:lng:piscine.lat:piscine.lon | shorten:5 }}km
        <br />
        {{piscine.address + ' ' + piscine.zip_code}}
      </p>
    </ion-item>
  </ion-scroll>
</ion-content>
