options {
  .option-button {
    width: 100%;
    background-color: white;
    height: 40px;
    position: relative;

    p {
      color: #488aff;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
    }
  }

  .selected {
    background-color: #488aff;

    p {
      color: white;
    }
  }
}
